article.post-list
    figure.feature-image
        img(src="https://picsum.photos/300/140/", alt="image placeholder from lorem pisum" height="140" width="300")
    .content
        .article-meta
            span.time
                time 2 months ago 
            span.author raushanraja
        h2.article-title Title of the artilce lives here
        .article-paragraph Lorem, ipsum dolor sit amet consectetur adipisicing elit. Enim unde tempore eveniet debitis aspernatur officia fuga sint laborum, praesentium ut ipsum excepturi tenetur voluptatibus similique dolores! Ea itaque sint neque.
