html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/style.css")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap")
        title Hexweb
    body
        header
            .header-left
                .site-logo H
            .header-right
                nav.site-navigation
                    ul
                        li /snippets
                include includes/search.pug
        main
            section
                include includes/article.pug
                include includes/article.pug
                include includes/article.pug

            include includes/recent.pug
        footer footer